* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-image: url(../img/2473034.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
.contenedor {
	width: 100%;
	max-width: 1200px;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;

}
.ingreso_datos{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #0c367a;
    font-size: 40px;
}
input[type="text"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 10px;
    border: 1px solid #aaa;
    
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #022153;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #191970;
}
select{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    -webkit-appearance: button;
    background-color: #fff;

}
label{
    text-emphasis-color: red;
}

@media(min-width:768px)
{
    .ingreso_datos{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

